@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #252525;
  --description: #4d5461;
  --secondary-orange: #e68138;

  /* Fonts */
  --font-poppins: "Poppins", sans-serif;
  --font-bebas: "Bebas Neue", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins);
  --font-bebas: var(--font-bebas);
  --color-primary: var(--primary);
  --color-description: var(--description);
  --color-secondary-orange: var(--secondary-orange);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #;
    --foreground: #;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif; /* ✅ Default */
}
